@import './variables';

#campaignContainer {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#char-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	// background-color: #3a6839;
    
    .character-box {
        background-color: $blue-green;
    }
    
}

#current-char-info {
	// margin-bottom: 150px;
}

#campaign-info-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-top: 40px;
	background-color: $dark-blue;

	height: 56px;
	padding: 10px;
	border: solid 1px black;

	h3 {
		color: $blue-green;
		font-size: 20px;
		font-family: Special Elite;
	}

	select {
		width: 200px;
		background-color: $blue-green;
		font-size: 20px;
	}
	
	button {
		color: black;
		padding: 10px;
		font-size: 15px;
		font-family: Special Elite;
	}

	button {
		border-radius: 5px;
		outline: none;
		background-color: $blue-green;
		box-shadow: 3px 3px 10px black;

		&:hover {
			cursor: pointer;
			background-color: $hover-green;
		}
	}


}

#camp-char-show-container {

	div {
		overflow: hidden;
		padding-top: 10px;

		.show-character-image-div {
			border: none;
		}

	}
	.splash-image {
        display: none
    }
}

#dice-hp-container {
	display: flex;
	align-items: center;
}

#hp-buttons {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	background-color: $dark-blue;
	border-radius: 5px;
	height: 280px;


	button {
		color: black;
		font-size: 20px;
		font-family: Special Elite;
		padding: 10px;
		margin: 10px;
		background-color: $blue-green;
		box-shadow: 3px 3px 10px black;
		outline: none;

		&:hover {
			cursor: pointer;
			background-color: $hover-green;
		}

	}

	div {
		align-self: center;
		color: $blue-green;
		font-size: 30px;
		font-family: Special Elite;

		margin: 10px;
	}
}

.hidden {
	display:none;
}
