#campaignContainer {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#char-boxes {
    display: flex;
    
    .character-box {
        background-color: blue; //Temp until background color is chosen
    }
    
}
