.footer-div {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #173514;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
    box-shadow: 0 0 10px 10px black;


    .footer-header {
        color: #A6C8BC;
        font-size: 24px;
        font-family: Birmingham;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    .footer-developers {
        display: flex;
        justify-content: space-between;
        width: 75%;


        .footer-developers-each {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #A6C8BC;
            font-family: Special Elite;

            .link-in-tag {

                &:hover {
                    cursor: pointer;
                }

                .fa-linkedin {
                    padding: 10px;
                    font-size: 40px;
                    color: #173514;
                }
            }
        }
    }
}