
.home-page-main-box {
    display: flex;
}

    .main-page-background-img {
        z-index: -2;
    }

    .home-page-campaign-box {
        background-color: #66995B;
        display: block;
        width: 25%;
        margin-left: auto;
        opacity: .9;
        justify-content: center;
        height: 100px;
        position: fixed;
        right: 0px;
    }

        .home-page-campaign-links {
            
        }

.home-page-characters {
    position: absolute;
    grid-gap: 10px;
    padding: 10px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    min-width: 200px;
    height: auto;
    justify-content: space-between;
    background-color:  #66995B;
    /* width: 50%; */
    opacity: .9;
}

.home-page-create-character {
    text-decoration: none;
    font-size: 40px;
    color: #C6C8BC;
    display: flex;
    justify-content: center;
    /* min-height: 200px; */
}

.index-characters{
    color: rgb(225, 232, 190);
}


.home-page-campaign-title{
    color: rgb(225, 232, 190);
    padding: 10px;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.home-page-campaign-join,
.home-page-campaign-start{
    display: block;
    /* margin: auto; */
}

.home-page-campaign-start {
    padding-left: 5px;
    display: block;
    margin: auto;
}

.home-page-lobby-join {
    display: flex;
    padding-top: 6px;
    padding-left: 25%;

}

.index-characters {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    
}


.character-box div {
    display: flex;
    padding: 4px;
}
.character-box,
.home-page-create-character {
    text-transform: capitalize;
    border: groove rgb(130, 104, 0) 2px;
}

.character-box h3{
    padding-right: 5px;
}

.character-box:hover {
    background-color: #3a6839;
}

.home-page-create-character:hover {
    background-color: #3a6839;
}







