.nav-bar {
    background-color: #173514;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    color: #A6C8BC;
    padding: 5px;
    align-items: center;
    position: fixed;
    z-index: 20;
    box-shadow: 5px 5px 10px black;
}

.imma-spacer {
    width: 300px;
    height: 100px;
}

.nav-bar-signed-in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.nav-bar-page-title {
    font-size: 40px;
    font-family: Birmingham;
}

.nav-bar-login-signup{
    align-content: center;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #A6C8BC;
    text-decoration: none;
}

.nav-bar-signup,
.nav-bar-login {
    font-size: 22px;
    color: #A6C8BC;
    text-decoration: none;
}

.nav-bar-title{
    text-decoration: none;
    color: #A6C8BC;
}
    

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-greeting-message {
    font-size: 20px;
    display: flex; 
    align-items: center;
    padding-right: 4px;
    font-family: Special Elite;
}


.login-signup-button, .nav-bar-logout-button, .nav-bar-tutorial-button {
    width: 100px;
    height: 35px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: Special Elite;
    font-weight: bolder;
    box-shadow: 3px 3px 10px black;
    background-color: #A6C8BC;
    outline: none;
}

.login-signup-button:hover, .nav-bar-logout-button:hover, .nav-bar-tutorial-button:hover {
    background-color: rgb(183, 245, 90);
    color:black;
}