.nav-bar {
    background-color: #173514;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #A6C8BC;
    padding: 5px;
    align-items: center;
    position: fixed;
}

.nav-bar-logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;

}

.nav-bar-signed-in{
    display: contents;
}
.nav-bar-page-title {
    font-size: 50px;
    font-family: Birmingham;
    /* padding: 10px; */
}

.nav-bar-login-signup{
    align-content: center;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #A6C8BC;
    text-decoration: none;
}

    .nav-bar-signup,
    .nav-bar-login {
        font-size: 22px;
        color: #A6C8BC;
        text-decoration: none;
    }

.nav-bar-title{
    text-decoration: none;
    color: #A6C8BC;
}
    

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-signup-button {
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
}
