.race-and-class-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 90%;
    min-width: 925px;
}

.race-and-class {
    display: flex;
    max-width: 990px;
}

.race-and-class h1 {
    text-transform: uppercase;
    font-size: 40px;
    height: 20px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.race-container, .class-container {
    border: 1px solid black;
    width: 600px;
    margin: 10px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.race-drop-down {
    align-self: flex-end;
}
.dd-wrapper-Race {
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid lightgray;
    display: block;
    position: absolute;
    top: 630px;
    z-index: 1;
    min-width: 120px;
}

.dd-header-Race {
    background-color: white;
    border: 1px solid lightgray;
    padding: 3px 8px;
    display: flex;
}

.dd-header-Race i {
    margin-left: 10px;
}

.dd-header-Race:hover {
    cursor: pointer;
}

.dd-list-Race {
    list-style-type: none;
    text-align: left;
    padding: 0;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    min-width: 120px;
}

.dd-list-item-Race {
    margin: 5px;
}

.dd-list-item-Race.false {
    text-transform: capitalize;
    margin: 5px;
    cursor: pointer;
}

.dd-list-item-Race.true {
    text-transform: capitalize;
    margin: 5px;
    text-decoration: line-through;
    cursor: pointer;
    color: grey;
}

.dd-list-item-Race:Hover {
    background-color: green;
    cursor: pointer;
}

.race-selector {
    display: flex;
    width: 420px;
    margin: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}

.race-selector h3 {
    width: 50px;
    text-transform: capitalize;
    margin-right: 20px;
    padding: 20px 10px;
    font-weight: bold;
}

.race-blurb {
    width: 420px;
    padding: 10px;
    text-align: justify;
    min-height: 200px;
}

.subrace-drop-down {
    align-self: flex-end;
}
.dd-wrapper-Subrace {
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid lightgray;
    display: block;
    position: absolute;
    top: 880px;
    z-index: 1;
    min-width: 135px;
}

.dd-header-Subrace {
    background-color: white;
    border: 1px solid lightgray;
    padding: 3px 8px;
    display: flex;
}

.dd-header-Subrace i {
    margin-left: 10px;
}

.dd-header-Subrace:hover {
    cursor: pointer;
}

.dd-list-Subrace {
    list-style-type: none;
    text-align: left;
    padding: 0;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    min-width: 135px;
}

.dd-list-item-Subrace {
    margin: 5px;
}

.dd-list-item-Subrace.false {
    text-transform: capitalize;
    margin: 5px;
    cursor: pointer;
}

.dd-list-item-Subrace.true {
    text-transform: capitalize;
    margin: 5px;
    text-decoration: line-through;
    cursor: pointer;
    color: grey;
}

.dd-list-item-Subrace:Hover {
    background-color: green;
    cursor: pointer;
}

.subrace-selector {
    display: flex;
    width: 420px;
    margin: 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.subrace-selector h3 {
    width: 50px;
    text-transform: capitalize;
    margin-right: 20px;
    padding: 0 10px;
    font-weight: bold;
}

.subrace-blurb {
    width: 420px;
    margin: 20px 10px;
    text-align: justify;
    height: 200px;
}

.racial-modifiers {
    border: solid black 1px;
    width: 420px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 1120px;
    justify-self: center;
    align-self: center;
    display: flex;
}

.race-abilities {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    flex-direction: column;
}