
.main-page-background-img {
    width: 100%;
    height: 100%;
    overflow: scroll;

    .splash-image {
        width: -webkit-fill-available;
        object-fit: cover;
        z-index: -2;
        position: fixed;
        height: -webkit-fill-available;
    }

    .content {
        width: 100%;
        position: absolute;
        top: 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Special Elite;

        .header-splash-description {
            font-size: 40px;
            color: white;
            font-family: Birmingham;
            text-shadow: 5px 5px 8px black;

        }
        .splash-description {
            margin-top: 200px;
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .splash-description-paragraph {
                background-color: #173514;
                border-radius: 5px;
                opacity: .9;
                height: 75%;
                width: 75%;
                text-align: center;
                box-shadow: 5px 5px 8px black;
                padding: 20px;
                font-size: 30px;
            }
        }

        .splash-character-build {
            margin-top: 50px;
            width: 100%;
            height: 400px;
            background-color: #173514;
            opacity: .9;
            box-shadow: 5px 5px 8px black;
            display: flex;
     
            p {
                width: 50%;
                text-align: center;
                padding: 20px 15px 20px 15px;
                font-size: 30px;
                overflow: scroll;
            }
            img {
                width: 50%;
                background-color: black;
                min-width: 400px;

            }
        }

        .splash-campaign-management {
            margin-top: 50px;
            width: 100%;
            height: 400px;
            background-color: #173514;
            opacity: .9;
            box-shadow: 5px 5px 8px black;
            display: flex;
            
            p {
                width: 50%;
                text-align: center;
                padding: 20px 15px 20px 15px;
                font-size: 30px;
                overflow: scroll;

            }
            img {
                width: 50%;
                background-color: black;
                min-width: 400px;

            }
        }

        .splash-dice-manager {
            margin-top: 50px;
            margin-bottom: 200px;
            width: 100%;
            height: 400px;
            background-color: #173514;
            opacity: .9;
            box-shadow: 5px 5px 8px black;
            display: flex;

            .splash-dice-manager-paragraph {
                width: 50%;
                text-align: center;
                padding: 20px 15px 20px 15px;
                font-size: 30px;
                overflow: scroll;



            }
            .splash-dice-manager-img {
                width: 50%;
                background-color: black;
                min-width: 400px;

            }
        }
    }
}
