.tutorial-container {
    padding: 130px 0;
    background-color: rgb(6, 11, 17);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Special Elite;
}

.tutorial-header {
    color: white;
    font-family: Birmingham;
    font-size: 50px;
    border-bottom: 2px solid white;
}

.tutorial-step {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    width: 100%;
}

.tutorial-step-description {
    margin: 20px;
    padding: 50px;
    width: 100%;
    background-color: rgba(69, 117, 59, 0.8);
    text-align: center;
    border: solid 3px whitesmoke;
    font-size: 30px;
    color: white;
}

.tutorial-img {
    width: 800px;
    height: auto;
    margin: 20px;
    border: solid 3px whitesmoke;
}

.narrow {
    height: 500px;
    width: auto;
}

.tutorial-link {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.tutorial-link:visited {
    color: white;
}

.tutorial-link:hover {
    color: chartreuse;
}

.tutorial-link-div {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 20px;
}